.navBar {
  width: 100vw;
  padding: 10px 0px;
  background-color: #242424;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  justify-content: center;
  position: fixed;
  z-index: 9999;
}
.navLink {
  margin: 0px 10vw;
}
.navLinkActive {
  font-weight: bold;
  color: #007bff;
}
